.login_head{height:60px;margin:12px auto 14px}
.login_body{background: url("../img/header/login.jpg") center center no-repeat;height:590px}
.login_body .set_area{float: right;width: 360px;color: #6e6e6e;margin: 90px auto 0;position: relative;border: 1px solid #eef2f4;
    box-shadow: 0px 1px 2px #eee;}
.login_body .set_area .tip{line-height: 24px;color: #828282;padding-left: 22px;background: url(../img/header/info-circle.png) 3px 5px no-repeat #fef7f5;border: 1px solid #fedbd1;position: absolute;font-size: 12px;width:360px}
.login_body .set_area .input{margin-top:30px;padding:0 20px}
.login_body .set_area .input h2{font-size:18px;color:#3c3c3c;margin-top:5px}
.login_body .set_area .input table td{padding:5px 0 0 0}
.login_body .set_area .input table td input{width:320px;height:34px;border-radius: 5px;outline: none;border:1px solid #ccc}
.login_body .set_area .input table td p{font-size:12px}
.login_body .set_area .input table td button{width:320px;height:34px;border-radius: 5px;background:#d72832;outline: none;border: none;color:white;font-weight: bold}
.login_body .set_area .login{padding:0 20px}
.login_body .set_area .login span a{color:#3c3c3c;font-size:12px;text-decoration: none}